<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
    We had different profiles, can be configured using <springProfile name="log-logstash">.
    So we used different loggers when in Kubernetes or running locally or tests.
    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%-5level] %logger{1} -- %message%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="no.nav.pdl" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="INFO"/>
</configuration>
